<h3>Calendar</h3>
<p>Here are some past and upcoming gigs where you can catch Jeremy.</p>
<dl>
	<dt>November 2019</dt>
	<dd>
		<dl>
			<dt>November 16</dt>
			<dd>Private Event</dd>
			<dt>November 23</dt>
			<dd>Bin 46 Wine Bar + Restaurant <br />
			w/Mile High Hot Club, 6-9pm</dd>
		</dl>
	</dd>
	<dt>December 2019</dt>
	<dd>
		<dl>
			<dt>December 7</dt>
			<dd>Private Event in Denver</dd>
			<dt>December 20</dt>
			<dd>Bin 46 Wine Bar + Restaurant <br />
			w/Mile High Hot Club, 6-9pm</dd>
		</dl>
	</dd>
</dl>
