<h3>Contact</h3>
<p>For bookings gigs with any of the groups Jeremy works with or as a soloist, of if you are a musician or group looking to add a guitarist, my contact information is below.</p>
<dl class="row">
	<dt class="col-1 pb-2"><a href="https://www.facebook.com/jeremy.m.crosbie" title="Facebook: jeremy.m.crosbie"><i class="fab fa-2x fa-facebook-square" title="Facebook"></i></a></dt>
	<dd class="col-11 pb-2"><a href="https://www.facebook.com/jeremy.m.crosbie" title="Facebook: jeremy.m.crosbie">jeremy.m.crosbie</a></dd>
	<dt class="col-1 pb-2"><a href="https://twitter.com/jeremycrosbie?ref_src=twsrc%5Etfw"><i class="fab fa-2x fa-twitter-square"></i></a></dt>
	<dd class="col-11 pb-2"><a href="https://twitter.com/jeremycrosbie?ref_src=twsrc%5Etfw">jeremycrosbie</a></dd>
	<dt class="col-1 pb-2"><a href="https://soundcloud.com/jcrosbie"><i class="fab fa-2x fa-soundcloud"></i></a></dt>
	<dd class="col-11 pb-2"><a href="https://soundcloud.com/jcrosbie">jcrosbie</a></dd>
	<dt class="col-1 pb-2"><a href="mailto:jeremy@crosbie.us"><i class="fas fa-2x fa-envelope"></i></a></dt>
	<dd class="col-11 pb-2"><a href="mailto:jeremy@crosbie.us">jeremy@crosbie.us</a></dd>
</dl>

