<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

		<link rel="icon" href="/assets/img/favicon.ico" type="image/x-ico">
		<link rel="shortcut icon" href="/assets/img/favicon-32x32.png?v=0.1" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

	</head>
	<body class="text-light" style="background-color: #000">
		<div class="container-fluid">
			<nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000">
				<a class="navbar-brand" href="/">jeremycrosbie.com</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto" style="width: 100%">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item justify-content-end">
							<a class="nav-link" href="#music">Music</a>
						</li>
						<li class="nav-item justify-content-end">
							<a class="nav-link" href="#calendar">Calendar</a>
						</li>

						<li class="nav-item justify-content-end">
							<a class="nav-link" href="#contact">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="row mt-5">
				<div class="col-4">
					<figure class="figure">
						<img class="figure-img img-fluid" src="{{site.baseurl}}/assets/img/sidebar.jpg"></img>
						<figcaption class="figure-caption">Photo by Louie Medina</figcaption>
					</figure>
				</div>
				<div class="col-8 mt-5">
					<section id="home">
						<h1>Jeremy Crosbie, Guitarist</h1>
						{{content}}
					</section>
					
					<hr />
					
					<section id="music">
						{% include music.html %}
					</section>
					
					<hr />
					
					<section id="calendar">
						{% include calendar.html %}
					</section>
					
					<hr />
					
					<section id="contact">
						{% include contact.html %}
					</section>
					
				</div>
			</div>

			<div class="row">
				<div class="col-9 d-flex justify-content-center">
					<footer>
						
						<small>&copy; 2019 Jeremy Michael Crosbie.  All Rights Reserved.</small>
					</footer>
				</div>
			</div>

		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/0036f43d69.js" crossorigin="anonymous"></script>

		<script type="text/javascript">
			// <![CDATA[
			$(function() {
				$('.nav-item').on('click', '.nav-link', function() {
					$('.nav-item').removeClass('active');
					$(this).parent().addClass('active');
				})
			});
			// ]]>
		</script>
	</body>
</html>
